<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="shep.info">

  <link rel="apple-touch-icon-precomposed" href="/icons/54.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/icons/72.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/icons/114.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/icons/144.png">

  <title>shep.info</title>  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/chat-menu.css">
  <link rel="stylesheet" href="/css/grid.css">
  <link rel="stylesheet" href="/css/glyphicons.css" type="text/css">

  <script type="text/javascript" src="<%= ENV['SOCKET_HOST'] %>/socket.io/socket.io.js"></script>

  <script type="text/javascript" src="/js/libs.js"></script>

  <script type="text/javascript" src="/js/helpers.js"></script>
  <script type="text/javascript" src="/js/views/appview.js"></script>
  <script type="text/javascript" src="/js/views/channelview.js"></script>
  <script type="text/javascript" src="/js/views/menuview.js"></script>
  <script type="text/javascript" src="/js/views/signin.js"></script>
  <script type="text/javascript" src="/js/views/signup.js"></script>
  <script type="text/javascript" src="/js/views/login.js"></script>
  <script type="text/javascript" src="/js/models/channel.js"></script>
  <script type="text/javascript" src="/js/models/message.js"></script>
  <script type="text/javascript" src="/js/models/user.js"></script>
  <script type="text/javascript" src="/js/collections.js"></script>
  <script type="text/javascript" src="/js/routers.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-6955602-8', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body data-socket-host="<%= ENV['SOCKET_HOST'] %>"
  <% if env['warden'].authenticated? %>
  data-nickname="<%= env['warden'].user.nickname %>"
  data-user='<%= env['warden'].user.to_json(relationships: {channels: {include: [:name]}}) %>'
  <% end %>>
  <div id="wrapper">
    <%= yield %>
  </div>
</body>
</html>