<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title><%= @title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/chat-menu.css">
  <link rel="stylesheet" href="/css/grid.css">
  <link rel="stylesheet" href="/css/glyphicons.css" type="text/css">

  <script type="text/javascript" src="<%= ENV['SOCKET_HOST'] %>/socket.io/socket.io.js"></script>

  <script type="text/javascript" src="/js/vendor/jquery.js"></script>
  <script type="text/javascript" src="/js/vendor/underscore.js"></script>
  <script type="text/javascript" src="/js/vendor/backbone.js"></script>
  <script type="text/javascript" src="/js/vendor/handlebars.js"></script>
  <script type="text/javascript" src="/js/vendor/string.js"></script>

  <script type="text/javascript" src="/js/helpers.js"></script>

  <script type="text/javascript" src="/js/views/appview.js"></script>
  <script type="text/javascript" src="/js/views/channelview.js"></script>
  <script type="text/javascript" src="/js/views/menuview.js"></script>
  <script type="text/javascript" src="/js/views/signin.js"></script>
  <script type="text/javascript" src="/js/views/signup.js"></script>
  <script type="text/javascript" src="/js/views/login.js"></script>

  <script type="text/javascript" src="/js/models/channel.js"></script>
  <script type="text/javascript" src="/js/models/message.js"></script>
  <script type="text/javascript" src="/js/models/user.js"></script>

  <script type="text/javascript" src="/js/collections.js"></script>

  <script type="text/javascript" src="/js/routers.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>

</head>
<body data-socket-host="<%= ENV['SOCKET_HOST'] %>"
  <% if env['warden'].authenticated? %>
  data-nickname="<%= env['warden'].user.nickname %>"
  data-user='<%= env['warden'].user.to_json(relationships: {channels: {include: [:name]}}) %>'
  <% end %>>
  <div id="wrapper">
    <%= yield %>
  </div>
</body>
</html>